@import "./Outils/variables";
@import "./Outils/Mixins";
@import "./Outils/Bases";

@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('Shrikhand-Regular.eot');
    src: url('Shrikhand-Regular') format('embedded-opentype'),
         url('Shrikhand-Regular.woff') format('woff'),
         url('Shrikhand-Regular.ttf') format('truetype'),
         url('Shrikhand-Regular.svg#cac_Raleway') format('svg');}

@font-face {
            font-family: 'Roboto';
            src: url('Roboto-Regular.eot');
            src: url('Roboto-Regular') format('embedded-opentype'),
                 url('Roboto-Regular.woff') format('woff'),
                 url('Roboto-Regular.ttf') format('truetype'),
                 url('Roboto-Regular.svg#cac_Raleway') format('svg');}

@font-face {
            font-family: 'Roboto Bold';
                src: url('Roboto-Bold.eot');
                src: url('Roboto-Bold') format('embedded-opentype'),
                         url('Roboto-Bold.woff') format('woff'),
                         url('Roboto-Bold.ttf') format('truetype'),
                         url('Roboto-Bold.svg#cac_Raleway') format('svg');}

@font-face {
            font-family: 'Roboto Light';
                    src: url('Roboto-Light.eot');
                    src: url('Roboto-Light') format('embedded-opentype'),
                            url('Roboto-Light.woff') format('woff'),
                            url('Roboto-Light.ttf') format('truetype'),
                            url('Roboto-Light.svg#cac_Raleway') format('svg');}



/* Accueil */

.loader-bloc{position: fixed;
    width: 100%;
 height: 100%;
    background: rgb(156, 154, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 90%;
 animation: loader 3s;
 visibility: hidden;
    }

    @keyframes loader{
        0%{
        visibility: visible;}
      
      
        100%{
            visibility: hidden;
        }
      }

    .load{
        position: relative;
        right: 550px;
        bottom: 300px;
        z-index: 105;
 
        }

    .garfo{
            position: relative;
            left: 40px;
            bottom: 18px;
            z-index: 3000;
          
    }


    @keyframes rotateload {

        to{
          transform: rotate(1turn)
        }}

    .circulo{
        position: relative;
        left: 550px;
        top: 200px;
        width: 100px;
        height: 100px;
        border: solid rgb(223, 220, 220);
        border-top-color: #99E2D0;
        border-width: 20px;
        border-radius: 50%;
        animation: rotateload 1000ms linear infinite;
        z-index:  105;
       
      }

  

header{
@include header-config;
 h1{
font-family: $logofont;
position: relative;
box-shadow: 5px 5px 5px rgb(189, 187, 187);
height: 10px;
width: 450px;
padding-bottom: 40px;
bottom: 10px;
right: 10px;
text-align: center;

@include mobile6{
    right: 40px;
}

@include tablet{
    font-size: 40px;
    height: 50px;
    width: 800px;
    padding-top: 10px;
}
@include ordi{
    width: 1500px;
}
}
.back-header{
    background-color: $second-background-color;
    position: relative;
    @include mobile{
       right: 5px;
        width:410px;
        height: 350px;
    }

    @include mobile6{
        right: 15px;
    }

    @include mobile5{
        left: -30px;
    }

    @include tablet{
        right: 10px;
        padding-bottom: 10px;
    }

    @include ordi{
        width: 1500px;
    }
    
}


a{
    text-decoration: none;
    color: black;
}



#local{
        @include icon-local;
     @include mobile{
        width: 450px;
        padding-bottom: 20px;
        position: relative;
        right: 30px;
        bottom: 30px;
        padding-top: 20px;
                          }
         @include tablet{
             bottom: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 25px;
    }
    @include ordi{
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fa-map-marker-alt
        {
            position: relative;
            right: 20px;
            font-size: large;
        }

    }

    h2{
        @include htitre;
        @include mobile{
            left: 70px;
            top: 2px;
            width: 250px;
        }
        @include tablet{
            bottom: 20px;
        }
    }

    p{
        @include paragraph;
        position: relative;
        @include mobile5{width: 300px;
        
            right: -35px;}
            @include tablet{
                top: -20px;
            }
    }

    }


    .buttton{
        @include click-button;

      

        &:hover{
            filter: brightness(105%);
            box-shadow: 5px 5px 5px black;
            transition-duration: 500ms;
        }

        @include mobile{
            left: -20px;
            top: 10px;
            width: 270px;
        }

        @include mobile5{
            left: -50px;
            top: 10px;
            width: 270px;
        }

        @include tablet{
            left: 150px;
            bottom: 10px;
            width: 270px;
        }
        @include ordi{
            left: 520px;
        }
      
       
    }


    h3{
        @include htitre;
        @include mobile{
            left: 30px;
        }
        @include tablet{
            left: 300px;
        }
        @include ordi{
            left: 640px;
        }
    }

    section{

     a{
         text-decoration: none;
         color: black;
         :hover{
            background-color: #e3dbec; 
            transition-duration: 500ms;
            .fa-mobile-alt{
                color: $primary-color;
            }
            .fa-list-ul{
                color: $primary-color;
            }
            .fa-store{
                color: $primary-color;
            }
         }
        
     }

        .filtre-container{
            display: flex;
            position: relative;
            @include mobile{
                flex-direction: column;
                justify-content: space-around;
                left: 60px;
            }
            @include mobile6{
                left: 40px;
            }


            @include tablet{
                flex-direction: column;
                justify-content: space-around;
                left: 230px;
            }
            @include ordi{
                flex-direction: row;
                left: 20px;
            }
        }
    
        .filtre{
            @include filtre-config;
            @include mobile5{
                width: 100px;
            }
  
            }   

            .number{
 @include number-config;
        }

       
            .texte-filtre{
      
                width: 210px;
                position: relative;
                bottom: 15px;
                right: 20px;
                font-size: 18px;
                @include mobile5{
                    right: 50px;
                }
            }

            .fa-mobile-alt{
                @include icon-config;
                @include mobile5{
                    right: 120px;
                }
            }
    
            .fa-list-ul{
                @include icon-config;
                @include mobile5{
                    right: 120px;
                }
            }
            
            .fa-store{
                @include icon-config;
                @include mobile5{
                    right: 120px;
                }
            } 

    }    

main{
  

        background-color: $second-background-color;
        display: flex;
        position: relative;
        padding-bottom: 70px;
        a{
            text-decoration: none;
            color: black;
        }
        
        @include mobile{
            flex-direction: column;
            top: 70px;}
        @include tablet{
                flex-direction: column;
                top: 70px;}
                @include ordi{
                    flex-direction: row;
                    top: 70px;
                padding-bottom: 100px;}                     

}



figure{
    @include fig-config;
    @include mobile{
        width: 360px;
    right: 10px;}
    @include mobile6{
        left: -20px;
        width: 340px;
    }
    @include mobile5{
        left: -30px;
        width: 300px;
    }
    @include tablet{
        width: 340px;
    left: 160px;}

    @include ordi{
    height: 180px;
    width: 180px;
    left: 40px;
    top: 80px;} 


    

img{
    @include img-config;
    @include mobile{
        height: 200px;
        width: 360px;
    }
    @include mobile6{
        height: 200px;
        width: 340px;
    }
    @include mobile5{
        
        width: 300px;
    }
    @include tablet{
        height: 200px;
        width: 340px;
    }

    @include ordi{
        height: 120px;
        width: 180px;
    }
}

}

figcaption{

    transition: opacity 0.3s, visibility 0.3s;
    transition-property: all;

    @include mobile{
    &:active{
        .firstheart{

            display: none;
        }
        .secondheart{
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s, visibility 0.3s;
            transition-timing-function: ease-out;
            transition-duration: 3500ms;
            }
    }}
    @include tablet{
        &:active{
            .firstheart{
    
                display: none;
            }
            .secondheart{
                visibility: visible;
                opacity: 1;
                transition: opacity 0.3s, visibility 0.3s;
                transition-timing-function: ease-out;
                transition-duration: 3500ms;
                }
        }}
    @include ordi{
        &:hover{
            .firstheart{
    
                display: none;
            }
            .secondheart{
                visibility: visible;
                opacity: 1;
                transition: opacity 0.3s, visibility 0.3s;
                transition-timing-function: ease-out;
                transition-duration: 3500ms;
                }
        }
    }

}

   
.new{
    font-family: $font-text-b;
    font-size: 14px;
    position: absolute;
    background-color: $third-color;
    color: #0a9774;
    width: 70px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    @include mobile{
        bottom: 250px;
        left: 270px;
    }

    @include mobile6{
        bottom: 250px;
        left: 250px;
    }

    @include mobile5{
        bottom: 250px;
        left: 200px;
    }
    @include tablet{
        bottom: 250px;
        left: 250px;
    }

    @include ordi{
        bottom: 150px;
        left: 90px;
    }
}



.figbold{
    @include caption-bold;

    @include ordi{
        font-size: 15px;
    }
}

.light{
    @include caption-light;
    position: relative;
    left: 10px;
    @include ordi{
        font-size: 12px;
    }
}



.fa-heart{
position: relative;
font-size: 30px;

@include mobile{
    left: 360px;
bottom: 20px;
}

@include mobile6{
    left: 330px;
bottom: 20px;
}

@include tablet{
    left: 300px;
bottom: 50px;
}
@include ordi{
    left: 150px;
bottom: 30px;
font-size: 20px;
}
}

.firstheart{
    position: relative;
    font-size: 30px;
    @include mobile{
        left: 300px;
    bottom: 40px;
    }
    @include mobile5{
        left: 250px;
    bottom: 40px;
    }
    @include tablet{
        left: 300px;
    bottom: 50px;
    }
    @include ordi{
        left: 150px;
    bottom: 30px;
    font-size: 20px;
    }
    }

    .secondheart{
        position: relative;
        font-size: 30px;
        visibility: hidden;
        opacity: 0;
        color: transparent;
        background: linear-gradient(to bottom right,$secondary-color,$primary-color);
        -webkit-background-clip: text;

        @include mobile{
            left: 300px;
        bottom: 40px;
        }
        @include mobile5{
            left: 250px;
        bottom: 40px;
        }
        @include tablet{
            left: 300px;
        bottom: 50px;
        }
        @include ordi{
            left: 150px;
        bottom: 30px;
        font-size: 20px;
        }
        }




 

    footer{

        position: relative;
        background-color: rgb(58, 57, 57);
        @include mobile{
        top: 20px;
        height: 200px;
        }

        @include tablet{
            top: 30px;
            height: 120px;
            }
    }

    h6{
        font-family: $logofont;
        color: #FFF;
        font-size: 20px;
        @include mobile{
   text-align: left;
   position: relative;
   top: 10px;
   left: 35px;
        }

        @include tablet{
            text-align: center;
            position: relative;
            top: 10px;
            left: 35px;
                 }
    }

    ul{
        display: flex;
        justify-content: space-around;
        position: relative;
        @include mobile{
            height: 100px;
            flex-direction: column;
            bottom: 10px;
        }
        @include tablet{
            right: 25px;
        }
   
    li{
        list-style: none;
        font-family: $font-text2;
        font-size: 18px;
        margin-bottom: 10px;
        color: #FFF;
    } }

    .foot{
        padding-bottom: 15px;
    }

    .fa-hands-helping{
        padding-right: 5px;
    }
    
    .fa-utensils{
        padding-right: 10px;
    }

/* Menu */



.fa-arrow-left{
    position: relative;
    font-size: 25px;
    right: 90px;
    @include ordi{
        right: 80px;
    }
    @include mobile5{
        right: 50px;
    }


}

.menu{
    position: relative;
    bottom: 30px;

    h1{
        position: relative;
        padding-top: 30px;
        padding-bottom: 40px;
        @include tablet{
            box-shadow: none;
            height: 30px;
        }
        @include mobile5{
            right: 70px;
        }
    }

    img{
        position: relative;
        right: 20px;
        bottom: 30px;
        width: 440px;
        height: 300px;
        @include tablet{
            left: 180px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }
        @include ordi{
            left: 500px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }

    }
}



.menumain{
    position: relative;
    top: -95px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 1400px;
    @include ordi{
        height: 420px;
        width: 1350px;
        left: 50px;
    }


h4{
    font-family: $logofont;
    font-size: 25px;
    padding-left: 30px;
    @include mobile6{
        padding-left: 20px;
    }
    @include tablet{
        margin-left: 250px;
    }
    @include ordi{
       margin-top: 150px;
       margin-left: 10px;
    }

}

.fa-heart{
    position: relative;
    bottom: 65px;

    @include mobile5{
        left: 280px;
   
    }
    @include tablet{
        display: none;
    }
    @include ordi{
        display: none;
    }

}

h5{
    font-family: $font-text2;
    font-size: 18px;
    border-bottom: solid $third-color;
    width: 50px;
    position: relative;
    padding-bottom: 10px;
    left: 10px;
    bottom: 70px;
    @include mobile{
        left: 40px;
    }
    @include mobile6{
        left: 20px;
    }
    @include tablet{
        top: -40px;
        left: 340px;
    }
    @include ordi{
        top: 20px;
        left: 40px;
        height: 15px;
    }


}

@keyframes menuslide {
    0% {
      transform: translateY(5%);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }
    100% {
      transform: translateY(0);
      visibility: visible;
  opacity: 1;
    }
  }


.entrees{
      animation: 1500ms ease-out 0s 1 menuslide;
 ;}

.plats{
    animation: 1500ms ease-out 0s 1 menuslide;
    animation-delay: 50ms;
;}

.desserts{
    animation: 1500ms ease-out 0s 1 menuslide;
animation-delay: 100ms;
;}



.choix{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 80px;
    left: 35px;
margin-bottom: 20px;
background-color: #FFF;
width: 340px;
height: 70px;
border-radius: 15px;
padding-top: 10px;
overflow: hidden;
transition-property: all;

&:hover {
    .circle{
    right: 1px;
    
}

.fa-check-circle{

    transition: 800ms;
    transform:rotate(720deg);
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
}

.simpleplat{
    width: 180px;

}

.boldnum{
    left: 200px;
    @include mobile5{
        left: 180px;
    }
}

.boldplat{
    width: 190px;
}
  
}
@include mobile6{
    left: 15px;
}

@include mobile5{
   left: 10px;
    width: 300px;
}


@include tablet{
    left: 220px;
    bottom: 50px;
}
@include ordi{
    top: 100px;
    left: -30px;
 
}

}


.circle{

    position: absolute;
    right: -100px;
    width: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
      height: 80px;
    margin-left: 15px;
    padding-left: 50px;
    top:-1px;
    background-color: $third-color;
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
    cursor: pointer;
    
}


}

.fa-check-circle{
    position: absolute;
    font-size: 20px;
    top: 30px;
    right: 32px;
    color: #FFF;

}

.boldplat{
    @include caption-bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all;
    transition-timing-function: ease-in;
    transition-duration: 1000ms;
    cursor: pointer;
    @include mobile5{
        font-size: 18px;
    }

  
}

.simpleplat{
    @include caption-light;
    padding: 10px;
    font-size: 15px;
    height: 10px;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
    cursor: pointer;
    @include mobile5{
        font-size: 13px;
    }

}

.boldnum{
    @include caption-bold;
    font-size: 15px;
    position: absolute;
    left: 290px;
    top: 40px;
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
    cursor: pointer;
    @include mobile5{
        left: 250px;
        bottom: 18px;
    }
}

.btn{
    @include click-button;
 
    &:hover{
        transition-duration: 500ms;
        filter: brightness(105%);
        box-shadow: 5px 5px 5px black;
    }

    text-align: center;
    width: 200px;
    height: 15px;
    position: relative;
    left: -5px;
    top: -30px;
       @include tablet{
        left: 180px;
        top: 20px;
    }
    @include mobile5{
        left: -40px;
    }
    @include ordi{
        left: -820px;
        width: 400px;
        top: -30px;
        padding-right: 40px;
        padding-left: 40px;
    }
   
  
}

#btn2{

  
    @include click-button;
 
    &:hover{
        transition-duration: 500ms;
        filter: brightness(105%);
        box-shadow: 5px 5px 5px black;
    }

    text-align: center;
    width: 200px;
    height: 15px;
    position: relative;
    left: -15px;
    top: -30px;
       @include tablet{
        left: 180px;
        top: 20px;
    }
    @include ordi{
        left: -780px;
        width: 400px;
        top: -30px;
        padding-right: 40px;
        padding-left: 40px;
    }
    @include mobile5{
        left: -40px;
    }
    
}



#btn3{

  
    @include click-button;
 
    &:hover{
        transition-duration: 500ms;
        filter: brightness(105%);
        box-shadow: 5px 5px 5px black;
    }

    text-align: center;
    width: 200px;
    height: 15px;
    position: relative;
    left: -15px;
    top: -30px;
       @include tablet{
        left: 180px;
        top: 20px;
    }
    @include ordi{
        left: -840px;
        width: 400px;
        top: -30px;
        padding-right: 40px;
        padding-left: 40px;
    }
    @include mobile5{
        left: -40px;
    }
    
}

#btn4{

  
    @include click-button;
 
    &:hover{
        transition-duration: 500ms;
        filter: brightness(105%);
        box-shadow: 5px 5px 5px black;
    }

    text-align: center;
    width: 200px;
    height: 15px;
    position: relative;
    left: -5px;
    top: -95px;
    margin-top: 40px;
    margin-bottom: 40px;
  
       @include tablet{
        left: 180px;
        top: -50px;
    }
    @include ordi{
        left: -840px;
        width: 400px;
        top: -70px;
        padding-right: 40px;
        padding-left: 40px;
    }
    @include mobile5{
        left: -40px;
    }
    
}

.menufooter{
    position: relative;
    top: -100px;
    height: 250px;
    margin-bottom: -100px;
    margin-top: -80px;
    @include ordi{ height: 180px;}

    h6{
        @include mobile{top: 40px;}
    }

    ul{
        position: relative;
        top: 20px;
        li{
        @include ordi{
            font-size: 20px;
        }}
    }

}



.menufooter4{
    position: relative;
    top: -70px;
    height: 250px;
    margin-bottom: -100px;
    margin-top: -80px;
    @include ordi{ height: 180px;}

    h6{
        @include mobile{top: 40px;}
        @include tablet{
        position: relative;
        left: -10px;
    }
    }

    ul{
        position: relative;
        top: 20px;
        @include ordi{
            font-size: 20px;
        }
    }

}



