html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Shrikhand-Regular';
  src: url("Shrikhand-Regular.eot");
  src: url("Shrikhand-Regular") format("embedded-opentype"), url("Shrikhand-Regular.woff") format("woff"), url("Shrikhand-Regular.ttf") format("truetype"), url("Shrikhand-Regular.svg#cac_Raleway") format("svg");
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.eot");
  src: url("Roboto-Regular") format("embedded-opentype"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#cac_Raleway") format("svg");
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("Roboto-Bold.eot");
  src: url("Roboto-Bold") format("embedded-opentype"), url("Roboto-Bold.woff") format("woff"), url("Roboto-Bold.ttf") format("truetype"), url("Roboto-Bold.svg#cac_Raleway") format("svg");
}

@font-face {
  font-family: 'Roboto Light';
  src: url("Roboto-Light.eot");
  src: url("Roboto-Light") format("embedded-opentype"), url("Roboto-Light.woff") format("woff"), url("Roboto-Light.ttf") format("truetype"), url("Roboto-Light.svg#cac_Raleway") format("svg");
}

/* Accueil */
.loader-bloc {
  position: fixed;
  width: 100%;
  height: 100%;
  background: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 90%;
  z-index: 100;
  -webkit-animation: loader 3s;
          animation: loader 3s;
  visibility: hidden;
}

@-webkit-keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.load {
  position: relative;
  right: 530px;
  bottom: 300px;
  z-index: 105;
}

.garfo {
  position: relative;
  left: 40px;
  bottom: 18px;
  z-index: 3000;
}

@-webkit-keyframes rotateload {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotateload {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.circulo {
  position: relative;
  left: 550px;
  top: 200px;
  width: 100px;
  height: 100px;
  border: solid #dfdcdc;
  border-top-color: #99E2D0;
  border-width: 20px;
  border-radius: 50%;
  -webkit-animation: rotateload 1000ms linear infinite;
          animation: rotateload 1000ms linear infinite;
  z-index: 105;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header h1 {
  font-family: "Shrikhand-Regular";
  position: relative;
}

@media screen and (min-width: 768px) {
  header h1 {
    font-size: 40px;
  }
}

header .back-header {
  background-color: #f5f1f1;
  position: relative;
}

@media screen and (max-width: 767px) {
  header .back-header {
    width: 375px;
    height: 350px;
  }
}

header a {
  text-decoration: none;
  color: black;
}

header #local {
  font-family: "Roboto";
  background-color: #dddada;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  header #local {
    width: 450px;
    padding-bottom: 20px;
    position: relative;
    right: 30px;
    bottom: 10px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  header #local {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) {
  header #local {
    height: 40px;
  }
}

header #local .fa-map-marker-alt {
  position: relative;
  right: 20px;
  font-size: large;
}

header h2 {
  font-family: "Roboto Bold";
  font-size: 25px;
  position: relative;
}

@media screen and (max-width: 767px) {
  header h2 {
    left: 60px;
    top: 10px;
    width: 250px;
  }
}

header p {
  font-family: "Roboto Light";
  font-size: 20px;
  color: gray;
}

.buttton {
  font-family: "Roboto Bold";
  color: #FFF;
  background-color: #9356DC;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  border: solid;
  border-radius: 50px;
  width: 350px;
}

.buttton:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media screen and (max-width: 767px) {
  .buttton {
    left: -40px;
    top: 10px;
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .buttton {
    left: 150px;
    bottom: 10px;
    width: 270px;
  }
}

@media screen and (min-width: 992px) {
  .buttton {
    left: 470px;
  }
}

h3 {
  font-family: "Roboto Bold";
  font-size: 25px;
  position: relative;
}

@media screen and (max-width: 767px) {
  h3 {
    left: 20px;
  }
}

@media screen and (min-width: 768px) {
  h3 {
    left: 300px;
  }
}

@media screen and (min-width: 992px) {
  h3 {
    left: 640px;
  }
}

section a {
  text-decoration: none;
  color: black;
}

section a :hover {
  background-color: #e3dbec;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

section a :hover .fa-mobile-alt {
  color: #9356DC;
}

section a :hover .fa-list-ul {
  color: #9356DC;
}

section a :hover .fa-store {
  color: #9356DC;
}

section .filtre-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  section .filtre-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    left: 40px;
  }
}

@media screen and (min-width: 768px) {
  section .filtre-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    left: 230px;
  }
}

@media screen and (min-width: 992px) {
  section .filtre-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 20px;
  }
}

section .filtre {
  font-family: "Roboto Bold";
  font-size: 14px;
  background-color: #f5f1f1;
  -webkit-box-shadow: 10px 10px 10px #dddada;
          box-shadow: 10px 10px 10px #dddada;
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  width: 150px;
  height: 30px;
  padding-left: 120px;
  padding-right: 70px;
  position: relative;
  right: 20px;
}

section .number {
  color: #FFF;
  font-family: "Roboto Light";
  font-size: 18px;
  background-color: #9356DC;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2.5px;
  border-radius: 50px;
  position: relative;
  right: 130px;
  bottom: -10px;
}

section .texte-filtre {
  width: 210px;
  position: relative;
  bottom: 15px;
  right: 20px;
  font-size: 18px;
}

section .fa-mobile-alt {
  color: gray;
  font-size: 20px;
  position: relative;
  right: 80px;
  top: 10px;
}

section .fa-list-ul {
  color: gray;
  font-size: 20px;
  position: relative;
  right: 80px;
  top: 10px;
}

section .fa-store {
  color: gray;
  font-size: 20px;
  position: relative;
  right: 80px;
  top: 10px;
}

main {
  background-color: #f5f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 50px;
}

main a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 767px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 70px;
  }
}

@media screen and (min-width: 768px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 70px;
  }
}

@media screen and (min-width: 992px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 70px;
    padding-bottom: 100px;
  }
}

figure {
  background-color: #FFF;
  border-radius: 15px;
  position: relative;
}

@media screen and (max-width: 767px) {
  figure {
    width: 340px;
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  figure {
    width: 340px;
    left: 160px;
  }
}

@media screen and (min-width: 992px) {
  figure {
    height: 180px;
    width: 180px;
    left: 40px;
    top: 80px;
  }
}

figure img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  figure img {
    height: 200px;
    width: 340px;
  }
}

@media screen and (min-width: 768px) {
  figure img {
    height: 200px;
    width: 340px;
  }
}

@media screen and (min-width: 992px) {
  figure img {
    height: 120px;
    width: 180px;
  }
}

figcaption {
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
}

@media screen and (max-width: 767px) {
  figcaption:active .firstheart {
    display: none;
  }
  figcaption:active .secondheart {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 3500ms;
            transition-duration: 3500ms;
  }
}

@media screen and (min-width: 768px) {
  figcaption:active .firstheart {
    display: none;
  }
  figcaption:active .secondheart {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 3500ms;
            transition-duration: 3500ms;
  }
}

@media screen and (min-width: 992px) {
  figcaption:hover .firstheart {
    display: none;
  }
  figcaption:hover .secondheart {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 3500ms;
            transition-duration: 3500ms;
  }
}

.new {
  font-family: "Roboto Bold";
  font-size: 14px;
  position: absolute;
  background-color: #99E2D0;
  color: #0a9774;
  width: 70px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .new {
    bottom: 250px;
    left: 250px;
  }
}

@media screen and (min-width: 768px) {
  .new {
    bottom: 250px;
    left: 250px;
  }
}

@media screen and (min-width: 992px) {
  .new {
    bottom: 150px;
    left: 90px;
  }
}

.figbold {
  font-family: "Roboto Bold";
  font-size: 20px;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
}

@media screen and (min-width: 992px) {
  .figbold {
    font-size: 15px;
  }
}

.light {
  font-family: "Roboto Light";
  font-size: 18px;
  padding-top: 5px;
  position: relative;
  left: 10px;
}

@media screen and (min-width: 992px) {
  .light {
    font-size: 12px;
  }
}

.fa-heart {
  position: relative;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fa-heart {
    left: 300px;
    bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .fa-heart {
    left: 300px;
    bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  .fa-heart {
    left: 150px;
    bottom: 30px;
    font-size: 20px;
  }
}

.firstheart {
  position: relative;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .firstheart {
    left: 300px;
    bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .firstheart {
    left: 300px;
    bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  .firstheart {
    left: 150px;
    bottom: 30px;
    font-size: 20px;
  }
}

.secondheart {
  position: relative;
  font-size: 30px;
  visibility: hidden;
  opacity: 0;
  color: transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
}

@media screen and (max-width: 767px) {
  .secondheart {
    left: 300px;
    bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .secondheart {
    left: 300px;
    bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  .secondheart {
    left: 150px;
    bottom: 30px;
    font-size: 20px;
  }
}

footer {
  position: relative;
  background-color: #3b3a3a;
}

@media screen and (max-width: 767px) {
  footer {
    top: 30px;
    height: 180px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    top: 30px;
    height: 120px;
  }
}

h6 {
  font-family: "Shrikhand-Regular";
  color: #FFF;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  h6 {
    text-align: left;
    position: relative;
    top: 10px;
    left: 35px;
  }
}

@media screen and (min-width: 768px) {
  h6 {
    text-align: center;
    position: relative;
    top: 10px;
    left: 35px;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

@media screen and (max-width: 767px) {
  ul {
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  ul {
    right: 25px;
  }
}

ul li {
  list-style: none;
  font-family: "Roboto Light";
  font-size: 18px;
  color: #FFF;
}

.foot {
  padding-bottom: 15px;
}

.fa-hands-helping {
  padding-right: 5px;
}

.fa-utensils {
  padding-right: 10px;
}

/* Menu */
.fa-arrow-left {
  position: relative;
  font-size: 25px;
  right: 50px;
}

@media screen and (min-width: 992px) {
  .fa-arrow-left {
    right: 80px;
  }
}

.menu {
  position: relative;
  bottom: 30px;
}

.menu h1 {
  position: relative;
  padding-top: 10px;
}

.menu img {
  position: relative;
  right: 20px;
  bottom: 10px;
  width: 400px;
}

@media screen and (min-width: 768px) {
  .menu img {
    left: 180px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

@media screen and (min-width: 992px) {
  .menu img {
    left: 500px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.menumain {
  position: relative;
  top: -60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 1350px;
}

@media screen and (min-width: 992px) {
  .menumain {
    height: 420px;
    width: 1300px;
    left: 70px;
  }
}

.menumain h4 {
  font-family: "Shrikhand-Regular";
  font-size: 25px;
  padding-left: 10px;
}

@media screen and (min-width: 768px) {
  .menumain h4 {
    margin-left: 250px;
  }
}

@media screen and (min-width: 992px) {
  .menumain h4 {
    margin-top: 150px;
    margin-left: 10px;
  }
}

.menumain .fa-heart {
  position: relative;
  bottom: 65px;
}

@media screen and (min-width: 768px) {
  .menumain .fa-heart {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .menumain .fa-heart {
    display: none;
  }
}

.menumain h5 {
  font-family: "Roboto Light";
  font-size: 18px;
  border-bottom: solid #99E2D0;
  width: 50px;
  position: relative;
  padding-bottom: 10px;
  left: 10px;
  bottom: 70px;
}

@media screen and (min-width: 768px) {
  .menumain h5 {
    top: -40px;
    left: 340px;
  }
}

@media screen and (min-width: 992px) {
  .menumain h5 {
    top: 20px;
    left: 40px;
    height: 15px;
  }
}

@-webkit-keyframes menuslide {
  0% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes menuslide {
  0% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

.menumain .entrees {
  -webkit-animation: 1500ms ease-out 0s 1 menuslide;
          animation: 1500ms ease-out 0s 1 menuslide;
}

.menumain .plats {
  -webkit-animation: 1500ms ease-out 0s 1 menuslide;
          animation: 1500ms ease-out 0s 1 menuslide;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.menumain .desserts {
  -webkit-animation: 1500ms ease-out 0s 1 menuslide;
          animation: 1500ms ease-out 0s 1 menuslide;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.menumain .choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 80px;
  left: 10px;
  margin-bottom: 20px;
  background-color: #FFF;
  width: 340px;
  height: 70px;
  border-radius: 15px;
  padding-top: 10px;
  overflow: hidden;
  -webkit-transition-property: all;
  transition-property: all;
}

.menumain .choix:hover .circle {
  right: 1px;
}

.menumain .choix:hover .fa-check-circle {
  -webkit-transition: 800ms;
  transition: 800ms;
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
}

.menumain .choix:hover .simpleplat {
  width: 180px;
}

.menumain .choix:hover .boldnum {
  left: 200px;
}

.menumain .choix:hover .boldplat {
  width: 190px;
}

@media screen and (min-width: 768px) {
  .menumain .choix {
    left: 220px;
    bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  .menumain .choix {
    top: 100px;
    left: -30px;
  }
}

.menumain .circle {
  position: absolute;
  right: -100px;
  width: 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 80px;
  margin-left: 15px;
  padding-left: 50px;
  top: -1px;
  background-color: #99E2D0;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.fa-check-circle {
  position: absolute;
  top: 30px;
  right: 32px;
  color: #FFF;
}

.boldplat {
  font-family: "Roboto Bold";
  font-size: 20px;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  cursor: pointer;
}

.simpleplat {
  font-family: "Roboto Light";
  font-size: 18px;
  padding-top: 5px;
  padding: 10px;
  font-size: 15px;
  height: 10px;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.boldnum {
  font-family: "Roboto Bold";
  font-size: 20px;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 15px;
  position: absolute;
  left: 290px;
  bottom: 10px;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.btn {
  font-family: "Roboto Bold";
  color: #FFF;
  background-color: #9356DC;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  border: solid;
  border-radius: 50px;
  width: 350px;
  text-align: center;
  width: 200px;
  height: 15px;
  position: relative;
  left: -15px;
  top: -50px;
}

.btn:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

@media screen and (min-width: 768px) {
  .btn {
    left: 180px;
  }
}

@media screen and (min-width: 992px) {
  .btn {
    left: -820px;
    width: 400px;
    top: -30px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

#btn2 {
  font-family: "Roboto Bold";
  color: #FFF;
  background-color: #9356DC;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  border: solid;
  border-radius: 50px;
  width: 350px;
  text-align: center;
  width: 200px;
  height: 15px;
  position: relative;
  left: -15px;
  top: -50px;
}

#btn2:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

@media screen and (min-width: 768px) {
  #btn2 {
    left: 180px;
  }
}

@media screen and (min-width: 992px) {
  #btn2 {
    left: -780px;
    width: 400px;
    top: -30px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

#btn3 {
  font-family: "Roboto Bold";
  color: #FFF;
  background-color: #9356DC;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  border: solid;
  border-radius: 50px;
  width: 350px;
  text-align: center;
  width: 200px;
  height: 15px;
  position: relative;
  left: -15px;
  top: -50px;
}

#btn3:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

@media screen and (min-width: 768px) {
  #btn3 {
    left: 180px;
  }
}

@media screen and (min-width: 992px) {
  #btn3 {
    left: -840px;
    width: 400px;
    top: -30px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

#btn4 {
  font-family: "Roboto Bold";
  color: #FFF;
  background-color: #9356DC;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  border: solid;
  border-radius: 50px;
  width: 350px;
  text-align: center;
  width: 200px;
  height: 15px;
  position: relative;
  left: -15px;
  top: -95px;
  margin-top: 10px;
}

#btn4:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

@media screen and (min-width: 768px) {
  #btn4 {
    left: 180px;
  }
}

@media screen and (min-width: 992px) {
  #btn4 {
    left: -840px;
    width: 400px;
    top: -30px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.menufooter {
  position: relative;
  top: -80px;
  height: 200px;
  margin-bottom: -80px;
  margin-top: -50px;
}

@media screen and (min-width: 768px) {
  .menufooter h6 {
    position: relative;
    left: -10px;
  }
}

.menufooter4 {
  position: relative;
  top: -80px;
  height: 200px;
  margin-bottom: -80px;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .menufooter4 h6 {
    position: relative;
    left: -10px;
  }
}
/*# sourceMappingURL=Style.css.map */