@import "./Variables/variables";
@import "./Variables/mixins";

@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('Shrikhand-Regular.eot');
    src: url('Shrikhand-Regular') format('embedded-opentype'),
         url('Shrikhand-Regular.woff') format('woff'),
         url('Shrikhand-Regular.ttf') format('truetype'),
         url('Shrikhand-Regular.svg#cac_Raleway') format('svg');}

@font-face {
            font-family: 'Roboto';
            src: url('Roboto-Regular.eot');
            src: url('Roboto-Regular') format('embedded-opentype'),
                 url('Roboto-Regular.woff') format('woff'),
                 url('Roboto-Regular.ttf') format('truetype'),
                 url('Roboto-Regular.svg#cac_Raleway') format('svg');}

@font-face {
            font-family: 'Roboto Bold';
                src: url('Roboto-Bold.eot');
                src: url('Roboto-Bold') format('embedded-opentype'),
                         url('Roboto-Bold.woff') format('woff'),
                         url('Roboto-Bold.ttf') format('truetype'),
                         url('Roboto-Bold.svg#cac_Raleway') format('svg');}

@font-face {
            font-family: 'Roboto Light';
                    src: url('Roboto-Light.eot');
                    src: url('Roboto-Light') format('embedded-opentype'),
                            url('Roboto-Light.woff') format('woff'),
                            url('Roboto-Light.ttf') format('truetype'),
                            url('Roboto-Light.svg#cac_Raleway') format('svg');}




header{
    @include header-config;
    h1{
        font-family: $logofont;
    }
    #local{
        @include icon-local
    }
    .fa-map-marker-alt
    {
        position: relative;
        right: 20px;
        font-size: large;
    }
    h2{
        font-family: $font-text-b;
        font-size: 25px;
        width: 250px;
        position: relative;
        left: 100px;
    }
    p{
        font-family: $font-text2;
        font-size: 20px;
    }
    .button{
    @include click-button;
    }

    .back-header{
        background-color: $second-background-color;
        width: 500px;
        height: 350px;
        position: relative;
        right: 12px;
    }
}

section{
    h3{
        font-family: $font-text-b;
        font-size: 20px;
    }
    .filtre-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
    }

    .filtre{
    @include filtre-config
    }    

    .number{
        color: #FFF;
        font-family: $font-text2;
        background-color: $primary-color;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 2.5px;
        border-radius: 50px;
        position: relative;
        right: 130px;
        }

        .fa-mobile-alt{
            @include icon-config;
        }

        .fa-list-ul{
            @include icon-config;
        }
        
        .fa-store{
            @include icon-config;
        }

}






