$logofont: 'Shrikhand-Regular';
$font-text1: 'Roboto';
$font-text2: 'Roboto Light';
$font-text-b: 'Roboto Bold';
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-color: rgb(221, 218, 218);
$second-background-color: rgb(252, 245, 245);